<div class="container p-4 text-center">
    <h1>Mis Asesorías</h1>
    <div class="row">
        {{#each citas}}
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase" style="color:green;">{{materia}}</h5>
                        <p class="m-2"><strong>Lugar:</strong> {{lugar}}</p>
                        <p class="m-2"><strong>Descripción:</strong> {{descripcion}}</p>
                        <p class="m-2"><strong>Fecha de cita:</strong> {{fecha}}</p>
                        {{#if estudiante_id}}
                            <p class="m-2"><strong>Estudiante: </strong> {{estudiante_id}}</p>
                        {{/if}}
                        
                        <a href="#" class="btn btn-danger">Eliminar Cita</a>
                        <a href="#" class="btn btn-info">Editar Cita</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

</div>